
<div class="grid-container">
    <h1 class="mat-h1">Configuration</h1>

    <div fxLayout="row" fxLayoutAlign="center center" class="container">
        <mat-card class="main-card">
            <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                <h2 class="mat-h2">Route Interface Configuration</h2>
            </mat-card-title>
            <mat-card-content>
                <div class="table-container">
                   
                    <!-- Config filter -->
                    <form [formGroup]="filterForm" (ngSubmit)="onSubmitFilter()">
                        <mat-grid-list cols="6" rowHeight="70px">
                            <mat-grid-tile [colspan]="1" [rowspan]="1">
                                <mat-form-field appearance="outline" color="accent">
                                    <mat-label>LocalBaID</mat-label>
                                    <input matInput placeholder="insert LocalBaID" formControlName="localBaId" >
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="1" [rowspan]="1">
                                <mat-form-field appearance="outline" color="accent">
                                    <mat-label>RemoteBaID</mat-label>
                                    <input matInput placeholder="insert RemoteBaID" formControlName="remoteBaId" >
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                    
                        <mat-grid-list cols="6" rowHeight="70px">
                            <mat-grid-tile [colspan]="6" [rowspan]="1">
                                <div>
                                    <button mat-raised-button>
                                        <mat-icon>filter_list</mat-icon>
                                    </button> 
                                    &nbsp;
                                    <button mat-button color="accent" type="button" (click)="clearFilter()" >
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                    &nbsp;
                                    <a routerLink="/configuration/route-interface/edit" mat-button color="accent" *ngIf="auth.isAdmin">
                                        Add new Route Interface
                                   </a> 
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </form>    

                    <mat-table mat-table [dataSource]="service.dataSource" class="mat-elevation-z8 data-table" matSort #sort="matSort" (matSortChange)="sortData(sort)">
                        <ng-container matColumnDef="id" >
                            <th mat-text-column mat-header-cell *matHeaderCellDef mat-sort-header justify="end">Action </th>
                            <td mat-cell *matCellDef="let element" > 
                                <button mat-raised-button class="success" (click)="editConfiguration(element)">
                                    <mat-icon>edit</mat-icon>
                                </button> 
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="localBaId">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>localBaId</th>
                            <td mat-cell *matCellDef="let element"> {{element.localBaId}} </td>
                        </ng-container>
                        <ng-container matColumnDef="remoteBaId">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>remoteBaId</th>
                            <td mat-cell *matCellDef="let element"> {{ element.remoteBaId }} </td>
                        </ng-container>
                        <ng-container matColumnDef="interFace">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>interFace</th>
                            <td mat-cell *matCellDef="let element"> {{ element.interFace }} </td>
                        </ng-container>
                        <ng-container matColumnDef="service">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>service</th>
                            <td mat-cell *matCellDef="let element"> {{ element.service }} </td>
                        </ng-container>
                     
                        <tr mat-header-row *matHeaderRowDef="routeInterfaceDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: routeInterfaceDisplayedColumns;"></tr>
                    </mat-table>

                  <mat-paginator [pageSizeOptions]="service.pageSizeOptions"
                    [length]="service.length"
                    [pageSize]="service.pageSize"
                    showFirstLastButtons aria-label="Select page of periodic elements"
                    (page)="handlePageEvent($event)">
                 </mat-paginator>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
