
        <h2 class="mat-h2">Overview</h2>
        
        <mat-grid-list cols="4" rowHeight="120px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card class="dashboard-card" >
                    <mat-card-header>
                        <mat-card-title>
                            Total number of Groups
                            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before">
                                <button mat-menu-item>Refresh</button>
                            </mat-menu>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <div class="widget-counter">{{ getNumberOfGroups() }}</div>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card class="dashboard-card success">
                    <mat-card-header>
                        <mat-card-title>
                            Active Roles
                            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before">
                                <button mat-menu-item>Refresh</button>
                            </mat-menu>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <div class="widget-counter">{{ getNumberOfActiveRoles() }}</div>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card class="dashboard-card warning">
                    <mat-card-header>
                        <mat-card-title>
                            Standby Roles
                            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before">
                                <button mat-menu-item>Refresh</button>
                            </mat-menu>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <div class="widget-counter">{{ getNumberOfStanbyRoles() }}</div>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card class="dashboard-card danger">
                    <mat-card-header>
                        <mat-card-title>
                            Roles with errors
                            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before">
                                <button mat-menu-item>Refresh</button>
                            </mat-menu>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <div class="widget-counter">{{ getNumberOfErrorRoles() }}</div>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>

        <br>

