<mat-card class="mat-card-area">
  <h1 class="h1-title" style="padding-top: 100px;">Client Software LMI  </h1>

  <mat-card-title>Reset Password</mat-card-title>
  <mat-card-content>
    <div class="form">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm)">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Username" formControlName="username" (blur)="getUserDetails()">
        </mat-form-field>
      </p>
      <div>
        {{userDTO.secretAnswerOne}}
      </div>

      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Secret Response One" formControlName="secretResponseOne">
        </mat-form-field>
      </p>
      <div>
        {{userDTO.secretAnswerTwo}}
      </div>
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Secret Response Two" formControlName="secretResponseTwo">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="New Password" formControlName="password">
          <mat-error *ngIf="resetPasswordForm.controls['password'].hasError('required') "> password is required </mat-error>
          <mat-error *ngIf="resetPasswordForm.controls['password'].hasError('minlength') "> min length should be 8 </mat-error>
          <mat-error *ngIf="resetPasswordForm.controls['password'].hasError('maxlength') "> max length should be 64 </mat-error>
          <mat-error *ngIf="resetPasswordForm.controls['password'].hasError('pattern') "> atleast 1 number, sp. char, 1 uppercase letter and 1 lowercase letter </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Confirm New Password" formControlName="confirmPassword">
          <mat-error *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('matching') ">Confirm Password does not match </mat-error>
        </mat-form-field>
      </p>
      <div class ="button">
        <div class ="width_50"></div>
        <div class ="width_50">
          <div class ="right">
            <button type="submit" mat-button [disabled]="!resetPasswordForm.valid">Submit</button>
            <button mat-button routerLink="/login">Back to login</button>
          </div>
        </div>
      </div>

      <!-- <div class="button">
        <button type="submit" mat-button [disabled]="!resetPasswordForm.valid">Submit</button>
        <button mat-button routerLink="/login">Back to login</button>

      </div> -->

    </form>
  </div>
  </mat-card-content>
</mat-card>