<div class="grid-container">
    <h1 class="mat-h1">Change Password</h1>

    <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card>
            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm)">
                <mat-grid-list cols="1" rowHeight="100px">
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Current Password</mat-label>
                            <input  type="password" matInput placeholder="insert Current Password" formControlName="currentPassword" >
                            </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>New Password</mat-label>
                            <input type="password" matInput placeholder="insert New Password" formControlName="password" >
                             <mat-error *ngIf="changePasswordForm.controls['password'].hasError('required') "> password is required </mat-error>
                            <mat-error *ngIf="changePasswordForm.controls['password'].hasError('minlength') "> min length should be 8 </mat-error>
                            <mat-error *ngIf="changePasswordForm.controls['password'].hasError('maxlength') "> max length should be 16 </mat-error>
                            <mat-error *ngIf="changePasswordForm.controls['password'].hasError('pattern') "> atleast 1 number and sp. char required </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Confirm New Password</mat-label>
                            <input type="password" matInput placeholder="Confirm New Password" formControlName="confirmPassword" >
                            <mat-error *ngIf="changePasswordForm.controls['confirmPassword'].hasError('matching') ">Confirm Password does not match </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-divider inset></mat-divider>
                <br>
            <mat-grid-list cols="2" rowHeight="50px">

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div style="text-align:right;width:100%">
                        <button mat-raised-button type="submit" class="primary form-button" style="font-weight:bold"  [disabled]="!changePasswordForm.valid">Save</button>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>       
            </form>
        </mat-card>
    </div>
</div>