

<div class="grid-container">
    <h1 class="mat-h1">ADD-ON configuration</h1>

    <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card>
            <br>
            <br>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div style="text-align:right;width:100%">
                    <button mat-raised-button class="success form-button" style="font-weight:bold" (click)="goBackToList()">Back</button>
                </div>
            </mat-grid-tile>
            <br>
            <form [formGroup] = "configurationForm" (ngSubmit)="onSubmit(configurationForm)">
                <h2> Route configuration</h2>
                <mat-grid-list cols="3" rowHeight="100px">
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Local Ba </mat-label>
                            <input matInput placeholder="insert localBaId" formControlName="localBaId" >
                            <mat-error *ngIf="configurationForm.controls['localBaId'].hasError('required') "> field is required </mat-error>
                            <mat-error *ngIf="configurationForm.controls['localBaId'].hasError('maxlength') "> max length exceeded </mat-error>
                            <mat-error *ngIf="configurationForm.controls['localBaId'].hasError('minlength') "> min length should be 12 </mat-error>
                            <mat-error *ngIf="configurationForm.controls['localBaId'].hasError('pattern') ">invalid input format</mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Remote Ba</mat-label>
                            <input matInput placeholder="insert remoteBaId" formControlName="remoteBaId" >
                            <mat-error *ngIf="configurationForm.controls['remoteBaId'].hasError('required') "> field is required </mat-error>
                            <mat-error *ngIf="configurationForm.controls['remoteBaId'].hasError('maxlength') "> max length exceeded </mat-error>
                            <mat-error *ngIf="configurationForm.controls['remoteBaId'].hasError('minlength') "> min length should be 12 </mat-error>
                            <mat-error *ngIf="configurationForm.controls['remoteBaId'].hasError('pattern') ">invalid input format</mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-divider inset></mat-divider>
                <br>
                <h2> File System parameters configuration </h2>
                <mat-grid-list cols="3" rowHeight="100px">
                    
                 <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Send path</mat-label>
                            <input matInput placeholder="insert send path" formControlName="sndPath" >
                        </mat-form-field>
                 </mat-grid-tile>
                 <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>Receive path</mat-label>
                        <input matInput placeholder="insert receive path" formControlName="rcvPath" >
                    </mat-form-field>
             </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>Sending Prefix</mat-label>
                        <input matInput placeholder="insert sending prefix" formControlName="sendingPrefix" >
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>Sent Prefix</mat-label>
                        <input matInput placeholder="insert sent prefix" formControlName="sentPrefix" >
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>Error Prefix</mat-label>
                        <input matInput placeholder="insert error prefix" formControlName="errorPrefix" >
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label>Error Deliver Prefix</mat-label>
                        <input matInput placeholder="insert error deliver prefix" formControlName="errorDeliverPrefix" >
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
                <mat-divider inset></mat-divider>
                <br>
            <mat-grid-list cols="2" rowHeight="50px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div style="text-align:left;width:100%" *ngIf="addonConfigDTO.id != null">
                        <button mat-raised-button type="button" class="danger form-button" style="font-weight:bold" (click)="openConfirmDialog()">Delete</button>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div style="text-align:right;width:100%">
                        <button mat-raised-button type="submit" class="primary form-button" style="font-weight:bold"  [disabled]="!configurationForm.valid">Save</button>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>       
            </form>
        </mat-card>
    </div>
</div>